[2020-06-17 20:31] rogermparent opened #1 "Getting ready for launch: Umbrella issue"
This issue is meant to be a hub for discussion about pre-launch preparations for the cml.dev website. This issue should close just before the site goes public.

Sorted roughly in order of priority:

- [x] Highlighted text (tooltips part 1) #2 #3
- [x] Add final examples with tooltips in the right places (I think? may or may not remove cloud case)
- [x] SEO Part 1: Metadata and good Lighthouse scor

[2020-06-19 01:28] rogermparent opened #2 "Code Tooltips"
This is the last of what looked to me like intricate components on the homepage (other than the hamburger menu)

Highlights look like this:

![image](https://user-images.githubusercontent.com/9111807/85086405-81e34a00-b1a8-11ea-8c8c-74b808505209.png)

And on mouseover a tooltip should pop up with this design:

![image](https://user-images.githubusercontent.com/9111807/85087040-56615f00-b1aa-11ea-8

[2020-06-25 20:37] #2 closed, assigned to nobody

[2020-07-02 16:57] skshetry opened #11 "thin font, low contrast"
The paragraph under "CML Use Cases" uses thin-font and is on a very low contrast, which I'm finding very hard to read.

Or, is that the point?

[2020-07-07 08:29] #1 closed, assigned to nobody

[2020-07-07 16:00] casperdcl opened #18 "missing escape chars"
Code examples not displaying escape `\` chars at the end of long lines:

![image](https://user-images.githubusercontent.com/10780059/86808924-391a0500-c073-11ea-87ee-3c68e305ea4d.png)

[2020-07-08 14:51] rogermparent opened #19 "Site logo is huge and unoptimized"
I forgot to include the logos when optimizing screenshots, and the logo is huge!

[2020-07-08 18:34] #19 closed, assigned to nobody

[2020-07-13 20:26] dmpetrov opened #25 "Multiple spaces in each line when "Copy" workflow yaml"
When I copy the yaml and past it in vi/Notes it creates additional spaces in every single line like:

[code]

[2020-07-13 20:55] #25 closed, assigned to nobody

[2020-07-18 17:50] #11 closed, assigned to nobody

[2020-07-18 17:51] shcheklein opened #27 "migrate Netlify's caching to cloudflare"
To downgrade the account we need to use CF to cache.

[2020-07-19 00:27] #18 closed, assigned to rogermparent

[2020-07-19 05:49] rogermparent opened #28 "Add pre-commit hooks similar to dvc.org"
This issue is exactly what it says on the tin. I'll update this as I get an understanding of pre-commit hooks and what makes sense to port over.

[2020-07-19 05:52] rogermparent opened #29 "Fix IE11 / pre-chrome Edge support"
This area will be updated as I figure out testing with these browsers, and what exactly is broken.

Depending on market share of incompatible browsers and the nature of required fixes, this could also be closed early. It's too soon to tell where it'll go.

[2020-10-04 23:19] #27 closed, assigned to nobody

[2020-10-04 23:21] shcheklein opened #31 "Get rid of Netlify"
Migrate to Heroku.
Netlify doesn't support CF caching on top of it, obscures too many things, doesn't give any reasonable value on top of Heroku + CF.

[2020-10-04 23:22] #29 closed, assigned to nobody

[2020-10-05 01:30] shcheklein opened #32 "GitHub switch doesn't work properly"
It doesn't "remember" that state and breaks video player for me

[2020-10-06 19:14] #31 closed, assigned to nobody

[2020-12-08 18:49] dmpetrov opened #34 "Website: put info about "downloadable software" in the CML page"
It is needed for trademark application

[2021-02-09 18:46] dmpetrov opened #394 "tutorial: basic (with & without DVC)"
1. example repos
2. tutorial

- [ ] CML + DVC
  + [ ] self-hosted (GPU)
  + long-job
- [ ] CML + tensorboard: https://github.com/DavidGOrtega/fashion_mnist
  + [ ] without GPU (GHA runners)
  + without long-job (for now)

[2021-02-09 18:48] dmpetrov opened #36 "Web for new scenario - dvc & instance & commit"

[2021-02-09 18:57] dmpetrov opened #37 "Carousel with videos, blogs and media in cml.dev"

[2021-03-12 18:27] arcticbear opened #41 "Add 'How to install' section to the main page"
Regarding the legal requirements, there must be a section on the website with a description of how to download and/or install the software.

Suggesting to add:
- A ghost 'install' button in the header on the top right. A click will show a simple flyout dialog. It closes after clicking everywhere outside the menu or after pressing the 'OK' button. The command copy button would be very useful here.

[2021-03-15 22:30] #41 closed, assigned to julieg18

[2021-03-15 22:59] julieg18 opened #43 "Use Heroku instead of Netlify to deploy pull requests"

[2021-03-16 02:58] #34 closed, assigned to dmpetrov

[2021-03-17 01:41] #43 closed, assigned to nobody

[2021-04-30 21:36] julieg18 opened #45 "Setup Sentry"

[2021-05-03 19:26] julieg18 opened #47 "Setup Universal Header/Footers"
* [Draft Design Mockup](https://www.figma.com/file/FOc5Lm4yy41tSu3GXpqEVN/Websites?node-id=0%3A1)
* Once design is completed, we need to update our header/footer to match design

[2021-05-03 19:26] #45 closed, assigned to nobody

[2021-05-05 20:43] julieg18 opened #48 "Add `engines` key to `package.json`"
Example:
[code]

[2021-05-11 00:23] julieg18 opened #50 "Update social sharing images"
* Currently all of our social images are using the old CML logo. We need to update all the images to have the new logo.

[2021-05-14 16:35] #47 closed, assigned to julieg18

[2021-05-17 19:50] julieg18 opened #52 "Update `Video` `play()`/`pause()` code, possibly clearing some Sentry errors"
* `video.play()` and `video.pause()` return a promise and we should place our code in something like a `try` and `catch` block. Not doing so may be causing some errors that were caught by Sentry
* We could also use a `catch` block to take care of other Sentry `video` errors that we don't need to worry about

## Links about issue
* [Info about `video.play() `](https://developer.mozilla.org/en-US/do

[2021-05-17 19:54] shcheklein opened #53 "Add star indicator in the Hero section"
Same as with dvc.org - it's important to have for two reasons:

- trust - when people see 2000+ stars they trust the project more
- more people will want to go to GH and be involved (including start it)

[2021-05-19 16:41] casperdcl opened #55 "[discussion] New page(s): docs"
Proposal. Discussion for @iterative/cml & @iterative/docs:

- A new docs page at a subdomain (the "Docs" link in the cml.dev hero/header should go to https://doc(s).cml.dev which should have a similar layout to https://dvc.org/doc).
- In addition, we need subpages. All pages should have a ToC.

Proposed layout:

- `doc(s).cml.dev/` CML Documentation
  - `/features/` Features
  - `/start/` Getting

[2021-05-19 18:02] casperdcl opened #56 "Docs engine request"
Implementation request for website team (if you're from CML or Documentation teams and want to discuss specifics please see #55 instead).

- Can we have a new doc subdomain & page (the "Doc(s)" link in the hero/header should go to https://doc.cml.dev which should have a similar layout to https://dvc.org/doc)
- In addition, we need subpages. All pages should have a ToC with a nested folder structur

[2021-05-21 11:27] julieg18 opened #59 "404 Page Design"
Currently this is what our 404 page looks like:
![image](https://user-images.githubusercontent.com/43496356/119130252-94d84d00-b9fd-11eb-8002-bfedd446fc79.png)

[2021-06-30 21:32] julieg18 opened #62 "Replace Google Analytics"
* There are a couple ways we could do this. Two possibilities are using plausible analytics or have our backend handle analytics.

[2021-07-27 14:05] julieg18 commented on #59
Our 404 page now looks like this:

![image](https://user-images.githubusercontent.com/43496356/127168057-99aae9e7-8fcd-4699-8a42-a5c3c6e1a210.png)

We probably still want to update this to at least have a link to getting back to the home page 🤔

[2021-07-27 14:08] julieg18 commented on #53
Does this task need a design?

[2021-07-27 14:14] casperdcl commented on #56
fixed by #60

[2021-07-27 14:14] #56 closed

[2021-07-27 14:14] julieg18 commented on #48
Currently our `engines` key looks like this:
[code]
@rogermparent, is this good to keep or should we have it match dvc.org which has `14.x`?

[2021-07-27 14:19] julieg18 commented on #28
As of #60, we now have pre-commit hooks matching dvc.org.

[2021-07-27 14:19] #28 closed

[2021-07-27 14:57] rogermparent commented on #48
May as well move it down for consistency and the fact that 14 is LTS while 15 is not. Ideally we move to 16 after the upgrade is done.

[2021-07-27 22:53] shcheklein commented on #53
I think a widget that is similar to the dvc.org's one is fine to start. Same location.

[2021-07-28 12:06] julieg18 commented on #48
Whoops, was looking at the wrong package.json! dvc.org does actually have `<=15.x` as its `engines.node` key. And placing a `14.x` key breaks the CircleCI tests (#65) . Do we want to keep both cml.dev and dvc.org with a `<=15.x` or change it to something like `<=14.x`?

[2021-07-28 15:33] rogermparent commented on #48
No worries! I'm pretty sure `<=14.x` will solve the issue since the problem is CircleCI running Node 12, though maybe it'd be better to upgrade CCI to 14- not sure how feasible that is since I don't touch CCI often.

[2021-07-29 11:40] julieg18 opened #66 "Update cml.dev based on dvc.org's newest commits"
* dvc.org has had multiple updates that cml.dev's docs engine should have as well
List of website updates:
- [ ] [Lint all files](https://github.com/iterative/dvc.org/commit/2dd2e91094873b2367dae484c62a838c255202de)
- [ ] [Add image processing to docs images](https://github.com/iterative/dvc.org/commit/362ec57c4c6b431525d6df3e7e2ce1402d39c93c)
- [ ] (Update Link Check to 0.8)[https://github.com/it

[2021-08-04 16:33] julieg18 opened #68 "Docs Search Input isn't working"
* any input you type in receives a "No Results Found" output

[2021-08-04 16:36] shcheklein commented on #68
yep, I'm addressing this already. We need a new Algolia account for this.

[2021-08-04 17:07] casperdcl opened #69 "contributing guide"
Refers to 1. CML contribs as well as 2. cml.dev/doc contribs.

- check dvc.org/doc guides for compatibility
- also check cml wiki for special info
- fix any issues
- add cml.dev/doc nav entry redirecting to dvc.org/doc guide

[2021-08-06 16:09] casperdcl opened #70 "Toggle lang button"
Rather than writing separate pages for GH, GL and BB, it would in many cases be easier to write one page with a button to toggle between providers (similar to https://github.com/iterative/cml-website/blob/master/content/index.mdx but far simpler).

See e.g. https://zguide.zeromq.org/docs/chapter1/ for an example of clicking on a language next to code snippets to change the language of all snippets

[2021-08-06 20:10] #53 closed

[2021-08-06 23:55] shcheklein commented on #70
Related https://github.com/iterative/dvc.org/issues/759 - I hope it can be solved for both with a single solution.

[2021-08-07 10:50] casperdcl commented on #70
though should be noted that https://github.com/iterative/dvc.org/issues/759 is specifically about code snippets, whereas #70 includes text & general markdown

[2021-08-09 15:14] 0x2b3bfa0 commented on #70
About interface options: given that we're probably going to serve static content, wouldn't it be better to keep it simple and use path components instead of GET parameters? Exempli gratia: [cml.dev/doc/start/gitlab#usage](https://cml.dev/doc/start/gitlab#usage) like in [developers.google.com/docs/api/quickstart/nodejs#further_reading](https://developers.google.com/docs/api/quickstart/nodejs#furthe

[2021-08-09 15:54] casperdcl commented on #70
the example you link (`/thing/lang0#heading`) uses different HTML pages (`lang0.html`, `lang1.html`) rather than one HTML page with toggles (`/thing?lang=lang0#heading`).

[2021-08-12 21:31] shcheklein commented on #68
[code]

[2021-08-12 22:02] #69 closed

[2021-08-12 22:13] casperdcl opened #74 "contrib guide"
Flesh out https://cml.dev/doc/contributing/core (follow-up to #73)

[2021-08-13 19:10] casperdcl opened #77 "fix banner"
There are a number of issues with the https://cml.dev banner

![image](https://user-images.githubusercontent.com/10780059/129407090-bef8c7a9-bbf2-47cc-9e43-2e367bbcc1d2.png)

- "Install" should be replaced with "Get Started" linking to https://cml.dev/doc/start
- the word "GitHub" should be replaced with "Source" or simply a GH icon as per https://dvc.org
- probably also add discord icon

[2021-08-16 18:48] shcheklein commented on #68
I don't see the search results still.

[2021-08-17 18:32] #74 closed

[2021-08-18 08:36] casperdcl opened #86 "docs: mention Docker tags"
- as per https://github.com/iterative/cml/#docker-images
- follow-up to #81

[2021-08-18 08:50] casperdcl opened #87 "linters on GH Codespaces"
Apparently `npm up && yarn format-all && yarn pretty-quick` changes files in Codespaces (Node v14) but not locally (Node v14).

- reported at https://github.com/iterative/cml.dev/pull/81#discussion_r690791533

[2021-08-18 10:07] 0x2b3bfa0 commented on #86
Probably worth a separate section in the sidebar (?)

[2021-08-18 10:09] 0x2b3bfa0 commented on #87
Yes, not sure if I am doing something wrong, but it seems to modify some quotation marks. 🤔

[2021-08-18 17:05] casperdcl commented on #77
bumping priority because the method recommended by the "Install" button is really misleading/suboptimal for ~50% of users.

[2021-08-18 18:08] shcheklein commented on #77
@casperdcl please coordinate with @dmpetrov on this a bit. There was a legal reason behind this banner (trade marks?). I'm not sure if that reason is still valid.

[2021-08-18 18:21] casperdcl commented on #77
Ah but we already do this on dvc.org?

[2021-08-18 18:25] shcheklein commented on #77
Not sure I understand the questions. Could you clarify?

My point was that we specifically wanted to have Install or Download button to make it look like "software" for some legal procedures- thus thus artificial banner (DVC always looked fine). I would ask Dmitry if we still need this.

[2021-08-19 11:35] casperdcl commented on #77
Ah I thought you were talking about using GH/Discord icons.

Right, installation button - ok will clarify with @dmpetrov

[2021-08-19 21:07] casperdcl commented on #77
ok updated description

[2021-08-24 10:56] casperdcl opened #94 "prod site not building"
None of the recent merged PRs are live (e.g. #89, #90, #91, #92 versus https://cml.dev/doc/self-hosted-runners)

[2021-08-24 14:42] rogermparent commented on #94
Seems like automatic deploys weren't enabled on Heroku, I just turned them on and did a manual deploy of master

[2021-08-24 14:50] #94 closed

[2021-08-24 14:50] rogermparent commented on #94
Just verified the self hosted runners doc has new content, thanks for the catch @casperdcl!

[2021-08-30 16:11] julieg18 opened #97 "Update favicon"
* our current favicon is currently using our old logo
![image](https://user-images.githubusercontent.com/43496356/131370722-f4bd9817-5355-4928-8972-31fde5a9a52d.png)

[2021-08-30 17:42] #97 closed

[2021-09-03 14:03] #86 closed

[2021-09-06 11:48] 0x2b3bfa0 opened #102 "Move container image documentation to a separate section"
### Follow-up of https://github.com/iterative/cml.dev/issues/86#issuecomment-900989038 and https://github.com/iterative/cml.dev/pull/99#discussion_r702835302

I wonder if we should extract the container image documentation to a separate section, instead of keeping it inside the sbelf-hosted runners section. Images are being used in many other scenarios, like running any CML command on CI/CD system

[2021-09-06 17:58] casperdcl commented on #70
Any word on this? Would be a super helpful feature for CML docs!

[2021-09-10 09:39] daavoo opened #393 "When should we update dvc.lock and dvc push in GitHub Actions?"
### Discussed in https://github.com/iterative/dvc/discussions/6542

<div type='discussions-op-text'>

<sup>Originally posted by **Hongbo-Miao** September  6, 2021</sup>
Currently, my GitHub Actions workflow looks like this: when I open a pull request (change some model codes / params), CML creates a AWS EC2 instance, and DVC pull the data.

Here is my [current GitHub Actions workflow](https://gith

[2021-09-10 11:44] casperdcl commented on #70
See e.g.

https://raw.githubusercontent.com/squidfunk/mkdocs-material/master/docs/creating-your-site.md :arrow_right: https://squidfunk.github.io/mkdocs-material/creating-your-site/

[code]

=== "GitLab"

    ...
[code]

[2021-09-10 19:35] julieg18 commented on #70
Looking at our doc engine, I think this is possible!

[2021-09-13 12:54] #32 closed

[2021-09-13 15:19] #48 closed

[2021-09-14 18:58] casperdcl opened #106 "update cml-with-dvc"

[2021-09-14 18:59] casperdcl opened #107 "update get started"
- [x] GitHub #275
- [x] GitLab #275
- [x] Bitbucket #267

[2021-09-17 19:01] Crazy-Tony opened #109 "Update option --token in cml-pr helppage"
The helppage of cml-pr describes the option --token as a personal access token, but project access tokens can also be used for that. So i recommend to update the helppage by adding information about project access tokens.

[2021-09-17 19:52] casperdcl commented on #109
The GitLab section under https://cml.dev/doc/self-hosted-runners#personal-access-token does indeed mention project access tokens. With #70 will hopefully make it clearer :)

[2021-09-21 20:43] julieg18 commented on #70
A couple questions about this task:
1. Have we decided on an interface option? Using html tags will probably be easiest to implement since our doc engine already allows us to easily turn any html tag into a custom React component.
2. Currently cml.dev uses local storage to save the user's selected language. Should we keep using that or implement a url interface?
3. Do we want to reuse the design o

[2021-09-21 21:22] casperdcl commented on #70
1. idk, *tabbed* looks like a cleaner interface and I've [linked to the source](https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/) so perhaps you could check if it's straightforward to integrate?
2. advantage of local storage is memory across pages. However I think URL is more important for sharing purposes. Could have both (i.e. auto-suffix all URLs if a lang is selected)?
3. t

[2021-09-21 21:42] julieg18 commented on #70
1. I'll look into it! If we can't use that particular source, there's might be an alternative somewhere.
2. Makes sense! We should be able to auto suffix URLs.
3. 👍

[2021-09-22 15:34] julieg18 commented on #70
As far as I can tell, we can't use [`tabbed`](https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/) since it's an extension designed for python-markdown. I also can't seem to find a JS based package that would enable tabbed content in markdown pages. The only way I can think of to use the `tabbed` syntax is to inspect the `tabbed` source code and create a plugin that does this in g

[2021-09-22 16:01] 0x2b3bfa0 commented on #70
Well, if we're going to add many dynamic sections and all of them need to be synchronized to the user choice, having some sort of global switch/dropdown doesn't seem that crazy (?)

If we choose to offer a tabbed interface for each dynamic section, we would need to synchronize them so users don't have to repeat their choices each time they hit one of these blocks.

[2021-09-22 17:34] casperdcl commented on #70
- *tabbed* lib:
  - the `===` is actually `rst`-syntax which the extension adds support for within markdown
  - the extension (written in Python) then generates HTML for these tabs
  - the generated HTML uses radio buttons + CSS
  - as per [my recent feature request](https://github.com/facelessuser/pymdown-extensions/issues/1456#issuecomment-924599305), it then uses a little JS to "link" multiple

[2021-09-24 12:50] Crazy-Tony commented on #109
Yes that's right. People like me, who are taking a look first into the helppage if something doesn't work as expected, the helppage  seems quite misleading.

[2021-09-24 14:40] aniketnegii commented on #59
Hello, @shcheklein I am new to open-source contributions and will like to contribute to this repo. If this issue is still available, I will love to contribute to it. Please, if possible kindly guide me.

[2021-09-24 22:52] shcheklein commented on #59
@aniketnegii I think design is not ready for this. But I think we can take the idea from the dvc.org 404 and do the same.

[2021-09-25 02:17] julieg18 commented on #70
I decided to go ahead and use html tags for now and look into creating a gatsby plugin for using the `===` syntax at a later date. So far, I've created some basic markdown tabs, but I'm still working on a way to link multiple sets on a page(the JS code used in `tabbed` doesn't work correctly in React):

<details>

Markdown for tabs:
[code]

tabs in action:

https://user-images.githubusercontent.co

[2021-09-25 18:36] aniketnegii commented on #59
Thank you @shcheklein can I start working on it. I will try and get back to you. Thank you so much.

[2021-09-30 16:23] #70 closed

[2021-09-30 17:03] casperdcl opened #116 "use tabs"
use tabs where appropriate

follow-up to #70

[code]

[2021-10-05 15:01] #106 closed

[2021-10-11 01:34] jorgeorpinel commented on #70
Related: https://github.com/iterative/dvc.org/issues/759

[2021-10-11 15:23] casperdcl opened #123 "tabs: URL referencing"
Given:

[code]

Should be able to use:

- `/some/page#Bar` to auto-open the appropriate tab (p1-important)
- `/some/page#Bar-sub-section` to auto-open the tab and scroll to containing section (p2-nice-to-have)

[2021-10-12 19:20] casperdcl opened #125 "namespace config"
Use `CML_TOKEN` instead of `REPO_TOKEN` to avoid potential namespace clashes

- from https://github.com/iterative/cml.dev/pull/122#issuecomment-941330742
- related https://github.com/iterative/cml/issues/738

[2021-10-17 20:56] shcheklein opened #128 "Review favicons, descriptions, other meta headers"
E.g. it looks like favicon is too low res.

Some formats are not available according to https://realfavicongenerator.net/favicon_checker?protocol=http&site=cml.dev#.YWyLu9nMLlw (probably there are more websites like this).

We need to review all the regular fields one more time, make it a single source or truth. The same should be done to iterative.ai / dvc.org - they all should be using the same

[2021-10-18 13:12] dmitry-spodarets opened #392 "Special parameters for the git lab runner and docker container that it run"

[2021-10-18 22:44] casperdcl commented on #123
@julieg18 yes

[2021-10-21 23:32] jendefig opened #132 "Educational Course Connect"
With the new educational course coming out at the end of the quarter, we need to determine how people will access it from our websites.

Each website will access the same school: Iterative Tools School.

[Here is information on how their domains work](https://support.learnworlds.com/support/solutions/articles/12000080095-general-overview-custom-domains#What-is-a-custom-domain?). Let me know how yo

[2021-10-29 18:11] jendefig commented on #132
@shcheklein The course is hosted at LearnWorlds.  Working on getting it set up...

A subdomain works for me.  I like learn.iterative.ai

[2021-10-29 20:26] shcheklein commented on #132
@jendefig could you invite me as an admin? I can setup a subdomain, I hope it can be quick.

[2021-11-01 14:00] jendefig commented on #132
@shcheklein I just changed the login info and updated 1 Password so it's a social@iterative.ai in the Social section.

[2021-11-02 04:26] shcheklein commented on #132
I've proceeded and requested the change to learn.iterative.ai via CNAME record. Please @mike0sv @jendefig let me know if you see any problems.

[2021-11-02 12:55] casperdcl commented on #132
Where do we report issues with the website btw? I can see a bunch of little bugs.

[2021-11-02 14:44] jendefig commented on #132
@mnrozhkov  See above.  Wrong Mike was tagged.

@casperdcl If you are talking about with the LearnWorlds site, and the bugs are beyond layout, current set up, and entries, feel free and figure that out, because I have no idea.  If the bugs are related to the fact that I've only just started putting stuff in and it is in no way ready for review, please don't waste your time.  Spend it taking a good

[2021-11-02 19:25] mnrozhkov commented on #132
@jendefig thanks! looks good, I like learn.iterative.ai! Could you give me an admin access to be able to check and start to use it?

[2021-11-02 21:40] jendefig commented on #132
You can get the access in 1 Password @mnrozhkov

[2021-11-03 19:23] #128 closed

[2021-11-03 20:19] julieg18 opened #140 "Update meta tag descriptions for docs"
* Currently we have a single description (summary about cml) for all pages. It would be better if we updated the descriptions depending on the docs page.

[2021-11-04 18:59] jendefig opened #141 "Need a social image on CML.dev"
Just realized we are missing a social image on CML.dev.  I can take care of it, but not sure where it lives and need appropriate sizing.
@casperdcl @rogermparent @julieg18

![image](https://user-images.githubusercontent.com/34289199/140402767-abcf1856-559c-48c5-ab8f-510da580dcf3.png)

[2021-11-04 19:59] julieg18 commented on #141
Weird, it appears to be working for me:

![image](https://user-images.githubusercontent.com/43496356/140411165-b63debba-356a-40f7-a8b5-38830356aebf.png)

Is it still broken on your side?

[2021-11-04 21:33] jendefig commented on #141
@julieg18 No!  It shows up correctly now!  I wonder why there was a delay? 🤔 Guess we can close.

[2021-11-04 21:37] julieg18 commented on #141
Yes! I'll look into reasons for image delays.

[2021-11-04 21:37] #141 closed

[2021-11-08 09:57] DavidGOrtega opened #143 "docs `cloud-permission-set` flag for runner"
We are introducing `cloud-permission-set` in the next release.

 - https://github.com/iterative/cml/pull/781

[2021-11-26 09:39] mikolajpabiszczak opened #150 "Docs: self-hosted runners -> Personal Access Token -> App upgrade"
In the docs concerning self-hosted runners, section Personal Access Token / App (https://cml.dev/doc/self-hosted-runners#app). The following is written:

The second case is not described correctly enough. The app needs more permissions - depending which commands will be used (`pr`, `send-comment`, `send-github-check`) - so, e.g., access to write Pull requests needs to be granted and so on...

[2021-11-26 17:22] #150 closed

[2021-11-26 20:20] casperdcl commented on #150
Thanks, https://cml.dev/doc/self-hosted-runners?tab=GitHub#app is updated now :pray:

[2021-11-29 20:33] daavoo opened #153 "PS would be nice to have a GL equivalent documented in another `<tab>` in some follow-up PR"
PS would be nice to have a GL equivalent documented in another `<tab>` in some follow-up PR

_Originally posted by @casperdcl in https://github.com/iterative/cml.dev/pull/152#discussion_r758696528_

[2021-11-30 07:53] #55 closed

[2021-11-30 11:58] #143 closed

[2021-11-30 11:58] #109 closed

[2021-11-30 12:08] casperdcl opened #155 "ref: full command reference"
Follow-up to #154 <- https://github.com/iterative/cml/issues/361 because copy-pasting from CLI `--help` into https://cml.dev/doc/ref is far from ideal.

[2021-11-30 14:16] casperdcl opened #157 "prismjs syntax highllighting"
Would be nice to have syntax highlighting for a `cml` language based on https://github.com/iterative/dvc.org/blob/master/config/prismjs/dvc.js

- related #66

[2021-11-30 14:20] casperdcl opened #158 "tabs: nesting"
Nested tabs (`<tab title="Container"><tab title="sub"></tab></tab>` would be nice. Not sure of how to show them in URLs though. Probably `/?tab=Container-sub`?

[2021-12-01 13:02] julieg18 commented on #123
Are we sure we want this behavior? Currently it seems like we don't have many similiar tab names minus github, gitlab, and   bitbucket 🤔

[2021-12-01 13:29] julieg18 commented on #158
This is doable! As for naming, maybe `?tab=container&tab=sub-container`? It could be lengthy if we had more than two layers, but I can't think of doc examples that would need more than two nested layers of tabs 🤔

[2021-12-01 14:33] casperdcl commented on #158
The problem with `?tab=Container&tab=sub` is ambiguity between 2 top-level tabs versus nested tabs.

(Related example: from an `#id` perspective, concatenation with hyphens is fully supported, but 2nd level `#id`s aren't)

[2021-12-01 14:38] casperdcl commented on #123
yes, the GH/GL/BB tabs are important and frequent enough to make this desirable on https://cml.dev/doc. Potentially could clear `?tab=X` only when navigating to a page that doesn't contain an `X` tab.

[2021-12-02 15:55] #155 closed

[2021-12-02 21:20] julieg18 opened #163 "Update site from Gatsby 2 to 4"

[2021-12-03 10:42] DavidGOrtega opened #164 "Update docker images in GL GPU example and in repo"
In repo

[code]

in web
[code]

both cases should be

[code]

[2021-12-06 06:52] casperdcl commented on #163
I assume related to #66 as well as NodeJS v16 support?

[2021-12-06 11:59] #164 closed

[2021-12-06 13:53] julieg18 commented on #158
Are we ok with how this looks styling wise?

![image](https://user-images.githubusercontent.com/43496356/144858022-2f6d873e-5d0d-4ae9-887a-bffb5cfaf8b9.png)

I'm not sure how we could improve it 🤔

[2021-12-06 14:38] casperdcl commented on #158
#137 would avoid the problem of alpha transparency addition taking us to multiple shades of grey.

I count at least 2 puns in that sentence.

Fine with sorting #137 later though - it looks ok for now.

[2021-12-13 21:32] #158 closed

[2021-12-20 15:21] #62 closed

[2021-12-20 16:46] daavoo opened #172 "Update `cml-with-dvc` example."
Note that this hasn't been released yet but it's merged on master.

Ping @iterative/cml . I think `send-comment` with vega plot is a widely used example

_Originally posted by @daavoo in https://github.com/iterative/dvc/issues/7093#issuecomment-998095565_

[2021-12-21 21:19] casperdcl opened #175 "add binary download links"
Due to https://github.com/iterative/cml/pull/842 we could use [release binary assets](https://github.com/iterative/cml/releases) directly to remove any dependency on a particular version of `nodejs`/`npm`.

We can also re-use [logic for obtaining latest asset URL](https://github.com/iterative/dvc.org/blob/master/.github/workflows/update.yaml) to keep links up-to-date.

[2021-12-30 09:05] casperdcl commented on #172
What's the advantage of `--json | jq <filter> > vega.json` over `--show-vega > vega.json` when we still need to use `vl2png` anyway?

If we could do something like `--json | python -c 'import matplotlib.pyplot as plt, sys; plt.plot(eval(sys.stdin.read())["classes.csv"][0])'` instead that would be nice

[2021-12-30 09:33] daavoo commented on #172
We can use `--show-vega` for this example, as long as the flag is not removed 😅.

One difference is that `--show-vega` only works for a single plot whereas `--json` can return the list of all plots for a rev. So, `jq` could be used to do a for loop calling `vl2png` and `cml send-comment`. It would be handy for dvclive plots.

Another thing is that `--show-vega` doesn't return image plots. ` --json

[2021-12-30 12:04] casperdcl opened #179 "auto-generate example repos"
Example repos are painful to update everywhere (e.g. #178 touches all example repos). Should auto-generate them from one source similar to how  works.

- [ ] https://github.com/iterative/cml_base_case (/doc/start/)
- [ ] https://github.com/iterative/cml_dvc_case (/doc/start/)
- [ ] https://github.com/iterative/cml_tensorboard_case (/doc/start/)
- [ ] https://github.com/iterative/cml_cloud_case (/d

[2021-12-30 12:07] casperdcl commented on #179
perhaps best to do this in the existing https://github.com/iterative/example-repos-dev? Could transfer this issue there /CC @iesahin @jorgeorpinel

[2022-01-03 18:48] casperdcl commented on #172
You mean "what would be the advantage of `--json | python -c '...'` over `--json | jq <filter> > vega.json && vl2png ...`? No reliance on `vl2png` nor `jq`.

[2022-01-12 17:49] julieg18 commented on #37
Are we still interested in doing this? cc @iterative/websites

[2022-01-13 08:19] yathomasi commented on #163
@iterative/websites I think this should be given more priority because it's not running on my machine 😁.
For now, at least upgrade the `gatsby-plugin-sharp` to a higher version that [has a higher dependency for sharp (>0.28)](https://github.com/lovell/sharp/issues/2460#issuecomment-811046375) and supports running on arm-based m1 chips.
But it would be better to upgrade as a whole.  I just checked

[2022-01-13 13:09] julieg18 commented on #163
Agreed on making this more of a priority! Since me and Roger both worked on doing this with dvc.org, I can work on this after I finish my current P1 or I can help you if you want to take this one @yathomasi!

[2022-01-13 18:52] jorgeorpinel commented on #163
For now, at least upgrade the gatsby-plugin-sharp to a higher version that has a higher dependency for sharp (>0.28) and supports running on arm-based m1 chips.

+1 (since I'm migrating to a new MacBook 😬)

[2022-01-20 14:47] casperdcl opened #187 "ref: auto-link options"
Port over https://github.com/iterative/dvc.org/pull/3140 after #186

[2022-01-21 11:36] casperdcl opened #188 "ref/ci & ref/workflow"
Document subcommands introduced in https://github.com/iterative/cml/pull/839

- [ ] `ci`
  - [x] #195, #202
  - [ ] https://cml.dev/doc/usage#cml-commands & examples
- [ ] `workflow`
  - [ ] ref page & sidebar
  - [ ] https://cml.dev/doc/usage#cml-commands & examples

[2022-01-21 20:57] #163 closed

[2022-01-31 13:08] julieg18 opened #192 "Add TPI tab to "Use Cases" Widget"
As discussed in TPI release meetings, we want to add a TPI tab to this section:

![image](https://user-images.githubusercontent.com/43496356/151798821-4827d4c4-9b23-442f-83f3-e21c5e69791a.png)

Shouldn't be difficult to add another tab, but we need to know what content to add. cc @casperdcl @dmpetrov

[2022-02-03 17:30] dmpetrov commented on #192
Should we introduce a new page section for TPI? My concern with Use Cases - we are mixing up two products/types-of-use-cases in a single page and it might confuse users.

[2022-02-03 17:35] julieg18 commented on #192
Sounds good! Do we have any ideas/preference on what we want this new section to include?

[2022-02-08 14:31] casperdcl opened #196 "guide: branching strategies"
Diagrams and guide for collaborative branching strategies (e.g. using `cml pr` for experiments in a large team, reporting, rebase vs squash-merging, hiding unneeded rows in Studio, etc.)

Also saving results https://stackoverflow.com/a/74563657/3896283

Also should mention caveats (e.g. cascading/nested PRs obscures reports).

Related resources:

- https://stackoverflow.com/a/70205896
- https://gi

[2022-02-08 22:18] 0x2b3bfa0 commented on #196
## More resources

![flow](https://user-images.githubusercontent.com/11387611/153084879-1f5b0819-26df-4e93-adfe-f86bfdf79cfe.svg)

<details><summary>Click to reveal the source code of the diagram above...</summary>

[code]

</summary>

### See also
https://www.notion.so/iterative/Result-commits-2f12535f290743ea9bb6fdb27009f920
https://www.notion.so/iterative/Ancillary-pull-requests-51110e5c3ef0437

[2022-03-19 11:04] casperdcl opened #207 "guide: GH resuming workflow"
Add a self-hosted long-running example to https://cml.dev/doc/cml-with-dvc (or somewhere else)

1. GH action launches "self-hosted" GCP/AWS using `cml runner --reuse --labels=cml`
2. GH actions runs the rest of the workflow on the "self-hosted" runner using `runs-on: [self-hosted, cml]`
3. If GH actions is about to timeout, CML will restart the workflow

- i.e. https://cml.dev/doc/self-hosted-runn

[2022-03-22 13:30] casperdcl opened #209 "ref: screenshots"
add screenshots of:

- [ ] `send-comment` effect of options `--pr` and `--update`
- [ ] `pr` effect of option `--auto-merge` (related #153)
- [ ] `send-github-check`
- [ ] `tensorboard-dev`

[2022-03-24 11:00] casperdcl opened #211 "confusion over plot.png vs confusion_matrix.png"
https://github.com/iterative/example_cml/blob/master/train.py uses `plot.png` but the corresponding tutorial at https://cml.dev/doc/start/github uses `confusion_matrix.png`

Need to find all places this is out of sync (at least third time having this problem).

- [x] https://github.com/iterative/dvc.org/pull/3390
  - blog/2021-02-22-cml-runner-prerelease.md
  - blog/2020-07-16-devops-for-data-scie

[2022-03-25 13:14] julieg18 opened #213 "Is `/content/index.mdx` being used?"
As far as I can tell `content/index.mdx` isn't being used. Instead, the home page is formed from `src/pages/index.tsx`. Should we delete the page or is it being used somewhere that I missed?

cc @rogermparent @yathomasi

[2022-03-25 13:19] #211 closed

[2022-03-25 13:51] yathomasi commented on #213
Yes, the home page is being generated from `src/pages/index.tsx`.

Could it be still there because it would be helpful in maintaining the code? The HTML version seems messy.

<img width="1001" alt="Screen Shot 2022-03-25 at 19 29 04" src="https://user-images.githubusercontent.com/20840228/160132306-b8b90541-39dc-4238-88bd-4b3ef03940a6.png">

[2022-03-25 16:41] julieg18 commented on #213
Possibly! We also may have forgotten to delete it when we added docs to the site (#60).

Looking at both files, they both seem messy in their own way 😅

[2022-03-25 16:53] rogermparent commented on #213
I wrote the original in MDX with intentions for the whole site to be MDX-based, this was back at peak Gatsby+MDX hype. I still see merits in an MDX-based approach, but considering the JSX version is the one we have now I'm pretty sure we can safely just drop the MDX version.

I believe @julieg18 is correct here in that the MDX file was simply forgotten when the docs implementation was added and fo

[2022-03-25 20:40] #213 closed

[2022-03-29 14:44] casperdcl opened #215 "ref/send-comment: explain & demo `--update`"
- `--update`: updates commit comment, use case `cml send-comment starting.md && ./train && cml send-comment --update finished.md`
  - NOT for `comment && commit && push && comment --update` - in this case `--update` is ignored. should we attempt to delete the parent commit's comment @iterative/cml?
- `--pr --update`: updates current PR's comment

[2022-03-30 19:08] 0x2b3bfa0 commented on #215
[code]

[2022-03-30 19:10] 0x2b3bfa0 commented on #215
This might not be what users expect. At most, we can output a warning to standard error stating that `--update` was specified but there wasn't any previous comment to update on `${sha}`

[2022-03-30 21:57] jorgeorpinel commented on #215
(Assigned for visibility in https://github.com/orgs/iterative/projects/306)

[2022-04-01 15:51] casperdcl commented on #207
more musings (for `cml runner --cloud-spot`):

[code]

[2022-04-07 13:45] yalozhkin commented on #50
@julieg18 is this task still relevant?

[2022-04-11 11:14] casperdcl opened #219 "ref/ci: --user-email & --user-name"
Follow-up to https://github.com/iterative/cml/pull/945

[2022-04-13 03:06] dacbd opened #221 "Add example usage/cases for `cml ci`"
If you allow me to chime in, from the user perspective I think use cases are way clearer than just random notes.

For instance, I understand these fixes are only applicable to GitHub Actions, but in my opinion there is no clear documentation on CML CI which I think won't be normally installed since docker containers or virtual machines are normally the most common way to deal with this part.

_Ori

[2022-04-14 11:21] #219 closed

[2022-04-18 02:46] dmpetrov opened #225 "CI/CD workflow copy-past without newlines"
Workflow copy-past is broken - it copies text without newlines which makes the text pretty useless.

[2022-04-18 02:51] shcheklein commented on #225
cc @iterative/websites

[2022-04-20 18:02] casperdcl opened #228 "ref/publish: document --native"
follow-up to https://github.com/iterative/cml/pull/976

[2022-04-21 13:58] #228 closed

[2022-04-21 16:59] julieg18 commented on #225
Issue is now resolved with #226 and #227

[2022-04-21 16:59] #225 closed

[2022-04-24 02:30] dacbd opened #391 "`runner` OIDC credential management"

[2022-05-16 12:01] julieg18 opened #238 "Add header and footer to cml.dev 404 page"

[2022-05-16 16:50] yathomasi opened #239 "Update docs content to use Prismjs syntax highlighting and ref: auto-link options"
With #233, the following features were added

1. #157
2. #187

Now, we need to update content similar to dvc.org to use them (jump to https://github.com/iterative/cml.dev/issues/239#issuecomment-1227495713).

cc: @iterative/docs

[2022-05-17 12:19] casperdcl opened #241 "content: GitLab with DVC"
Add GitLab (https://gitlab.com/iterative.ai/cml-dvc-case) tab to https://cml.dev/doc/cml-with-dvc

[2022-05-18 02:43] jorgeorpinel commented on #239
Can you be specific about which highlighters exist or how to enable them, as well as auto-linking? We'll want to document this at some point anyway (maybe in the docs engine repo README + contrib guides).

[2022-05-18 14:29] yathomasi commented on #239
Existing highlighters:

1. `dvc`
    * parses on line basis (accepts `$ `as first character which is skipped while copying)
    * highlights
        * `dvc` commands
        * `git` commands
        * `bash` commands
2. `dvctable`
    * parses on row/line basis
    * highlights
      * `white|neutral`
      * `yellow|metric`
      *  `blue|param`
      *  `violet|dep`
3. `usage`
   * highlights

[2022-05-18 19:05] casperdcl commented on #239
Er... Can

- `cml` be an alias of `dvc`
- both of the above highlight all of our tools (`dvc/cml/mlem/...`)

[2022-05-18 19:26] jorgeorpinel commented on #239
See discussion in https://github.com/iterative/mlem.ai/issues/59 🙂

[2022-05-20 05:39] casperdcl commented on #239
Yes basically would like [this](https://github.com/iterative/gatsby-theme-iterative/pull/12#issuecomment-1132493265) rather than [this](https://github.com/iterative/cml.dev/issues/239#issuecomment-1130091708)

[2022-05-30 20:57] #50 closed

[2022-06-01 16:57] casperdcl opened #247 "fenced codeblocks"
Use more features from https://dvc.org/doc/contributing/docs, e.g. fenced code block lang `usage` & `dvc`/`cml`.

[2022-06-02 08:50] DavidGOrtega opened #390 "`cml pr` needs more docs and/or diagrams"

[2022-06-07 09:00] casperdcl opened #250 "docs improvements"
## p1

- [x] https://github.com/iterative/cml/issues/514
- [ ] update landing page https://cml.dev
  + [ ] clear message around 2 major use cases: `runner` & `report`
    * [ ] report: basic (no DVC) & advanced (lots of integrations, e.g. https://github.com/iterative/dvc/issues/6823)
    * [ ] runner: cloud (AWS/Azure/GCP/K8s) & on-prem
  + [ ] diagrams, flowcharts, ... vis. @0x2b3bfa0's stacked c

[2022-06-07 14:56] dacbd opened #251 "improve `runner`'s comand reference for `--cloud-gpu`"
https://github.com/iterative/cml/issues/1048#issuecomment-1147190743

[2022-06-11 12:05] iswarmondal commented on #59
Hey, @aniketnegii are you still working on this issue?
If not then I would like to give it a try. What do you think @shcheklein?

[2022-06-11 12:10] iswarmondal commented on #192
Hey @julieg18, I want to help with this issue. Is this still active?

[2022-06-13 12:36] julieg18 commented on #192
Hello! While we still want a TPI section, we don't have enough information to start even the design for this issue :( But I'll be happy to ping you once we are able to start on this issue!

[2022-06-13 13:48] iswarmondal commented on #192
Ok sure

[2022-06-14 13:48] casperdcl opened #258 "Bitbucket runner release"
- [x] Example repositories (tracked on https://github.com/iterative/example-repos-dev/issues/100)
  + [x] https://bitbucket.org/iterative-ai/example-cml
  + [x] https://bitbucket.org/iterative-ai/cml-base-case
  + [x] https://bitbucket.org/iterative-ai/cml-cloud-case
- [x] Getting started guide (https://github.com/iterative/cml.dev/pull/257)
- [ ] Toggle switch on the cml.dev landing page
- [ ] bl

[2022-06-24 15:29] casperdcl opened #266 "ref/publish: self-hosting"
Following https://github.com/iterative/cml/pull/1075 <- https://github.com/iterative/cml/issues/291,

- [x] https://github.com/iterative/cml.dev/pull/317
  + `cml publish --url="https://images.mydomain.com/" ./plot.png`
  + ~or `CML_PUBLISH_URL="https://images.mydomain.com/" cml publish ./plot.png`~
- [x] Release self-host server code
  - [x] https://github.com/iterative/minroud-s3
  - [ ] ~https:

[2022-06-26 11:00] #258 closed

[2022-06-27 16:27] yalozhkin commented on #59
Let's use the iterative.ai's template:
![image](https://user-images.githubusercontent.com/454947/175989529-94336c9d-df94-41ce-ab33-67371eccdb94.png)

@julieg18 just let me know if it's viable and I will create a bright-themed 404 variant.

[2022-06-27 16:50] julieg18 commented on #59
Should work just fine!

[2022-06-28 15:57] julieg18 commented on #59
Looks great! With some color/font designs to better match the website, we should be able to use it no problem!

[2022-07-08 09:58] DavidGOrtega opened #389 "Fix dvc cml case at cml.dev"

[2022-07-12 21:41] rogermparent commented on #132
Does this issue track the fact that cml.dev doesn't have any links to learn.iterative.ai? It seems https://github.com/iterative/cml.dev/pull/197 was closed because we decided the course doesn't have enough CML content to warrant connecting it to cml.dev now. Should we close this ticket until that time comes?

[2022-07-13 02:27] jendefig commented on #132
Yes.  While I think it makes sense that all tools lead there to get people learning, it is true that we plan for more CML content in the next course.  We can implement the connection then and close this issue.

[2022-07-14 13:08] #132 closed

[2022-07-21 03:33] #107 closed

[2022-07-25 08:00] mikolajpabiszczak opened #388 "Self-hosted workers fail immediately, get marked "offline" in the runners list."

[2022-07-26 19:00] dacbd opened #284 "update `doc/self-hosted-runners` GitHub App instructions"
Cross-link: https://github.com/iterative/cml/issues/1102

[2022-07-26 19:03] dacbd commented on #284
`p0` label as instructions result in an un-usable runner

[2022-07-27 14:33] casperdcl opened #285 "clarify spot instance pricing"
1. a high enough max bidding price (confusingly named `--cloud-spot-price`) is required to get a spot instance
2. after a spot instance is running:
    - [if the spot price rises above the maximum (specified above), AWS EC2 interrupts your spot instance](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-requests.html)
    - also, AWS can (and does) often interrupt it anyway (regardless of y

[2022-07-28 16:49] jendefig commented on #196
I have a backlog item in my tasks "review this material for CML diagrams" pointing to this issue.  Not sure why.  Do you need this diagram recreated for docs or use case?

[2022-07-28 18:50] dacbd opened #288 "runner example for `--cloud-metadata`"
Thoughts on some help tags/examples for users.

for example; in with a GitHub actions example
[code]

[2022-08-02 05:27] casperdcl commented on #196
I think this is more a @iterative/docs issue than a devrel one

[2022-08-08 11:32] casperdcl commented on #288
From [this](https://github.com/iterative/cml/issues/1104#issuecomment-1206691585), we should also document `--cloud-metadata="Key with space=value with space"` in https://cml.dev/doc/ref/runner

[2022-08-24 22:27] jorgeorpinel commented on #66
This is probably no longer relevant since both sites use the engine plugin? @julieg18

[2022-08-24 22:29] jorgeorpinel commented on #102
What part of https://cml.dev/doc/self-hosted-runners are you referring to specifically, @0x2b3bfa0 ? Thanks

[2022-08-24 22:37] jorgeorpinel commented on #239
Is this still outstanding @yathomasi ? Thanks

[2022-08-24 22:40] jorgeorpinel commented on #247
I think these should be in the engine now? Cc @iterative/websites

[2022-08-24 22:41] jorgeorpinel commented on #285
Would this go into an existing doc somewhere?

[2022-08-25 06:58] 0x2b3bfa0 commented on #102
[Docker Images — https://cml.dev/doc/self-hosted-runners#docker-images](https://cml.dev/doc/self-hosted-runners#docker-images), @jorgeorpinel

[2022-08-25 11:58] julieg18 commented on #66
We still haven't updated the docs hamburger menu. Though it is extremely minor :) We could technically just leave it as is

<img width="537" alt="image" src="https://user-images.githubusercontent.com/43496356/186656209-071d8cfb-121f-423a-b633-d802bdf60a97.png">

<img width="381" alt="image" src="https://user-images.githubusercontent.com/43496356/186658428-27d330cf-abba-4f08-81a8-b2f432f52656.png">

[2022-08-25 14:38] rogermparent commented on #247
Yep, they're in the engine, and I see examples of ` ```cli` and ` ```usage` throughout the cml.dev repo. I think this issue is handled any way you look at it.

[2022-08-25 14:38] #247 closed

[2022-08-25 15:26] rogermparent commented on #239
Seems like the `cli` highlighter that's already in closes this issue.

[2022-08-25 16:16] jorgeorpinel commented on #66
Seems more like a design/ website question then. Up to the team

[2022-08-25 16:24] jorgeorpinel commented on #239
Note that the highlighter name is now `cli` @casperdcl . I think both `dvc` and `cml` will be aliases of that but I recommend we use `cli` going fwd.

Do you want to keep this issue open to update existing content and use the highlighters more?

[2022-08-25 16:50] rogermparent commented on #239
Unless something has changed, we only have `dvc` as an alias but we're encouraging moving to full `cli`, we've already mass replaced instances of ` ```dvc` in a few repos.

[2022-08-25 18:25] #239 closed

[2022-08-30 18:18] renovate[bot] opened #309 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/iterative/cml.dev).

These dependencies are deprecated:

| Datasource | Name | Replacement PR? |
|------------|------|--------------|
| npm | `@type

[2022-08-31 10:18] casperdcl opened #314 "better `usage` fenced block links"
follow-up to #247 - make better use of `usage` blocks (include options in full so they get hyperlinked properly)

[2022-09-07 11:01] 0x2b3bfa0 opened #316 "Document new command-line interface structure"
The following pull request have introduced some drastic naming changes that should be documented:
* https://github.com/iterative/cml/pull/1026
* https://github.com/iterative/cml/pull/1073

- [x] https://cml.dev/ #324
  + [x] https://cml.dev/doc/
    * [x] https://cml.dev/doc/ref/
      - [x] runner
      - [x] comment
      - [x] check
      - [x] pr
      - [x] workflow
      - [x] tensorboard

[2022-09-08 12:28] #266 closed

[2022-09-16 18:52] 0x2b3bfa0 opened #387 "Document usage of Docker credential helpers on GitLab"
* [x] Amazon Web Services
* [x] Google Cloud Platform
* [ ] Microsoft Azure

# Examples

_Loosely based on the pertaining [official documentation](https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#use-credential-helpers)_

## Amazon Web Services

* Moved from https://github.com/iterative/terraform-provider-iterative/issues/627
* May be used with an instance profile as per https://githu

[2022-09-21 03:42] jorgeorpinel commented on #284
Hi. What instructions does this refer to? A summary of the docs-specific task would be nice. Thanks

[2022-09-21 03:45] jorgeorpinel commented on #284
Should there be any more cross-links based on https://github.com/iterative/cml/labels/documentation since that repo does not use the same `A: docs` label?

[2022-09-21 18:35] dacbd commented on #284
the link provides the context for what is needed to update, there is an action scope that should  be included when setting up the app/action used to generate ephemeral GitHub tokens https://cml.dev/doc/self-hosted-runners#app

[2022-09-22 07:27] jorgeorpinel commented on #284
It's a pretty long conversation in that link. I think we want readable and actionable docs issues for planning, etc.

So is that the summary? Should we add it to the issue description if so? What action scope is it? How is it included when setting up the app/action?

[2022-09-22 07:29] jorgeorpinel commented on #284
p.s. A good practice is to imagine someone (maybe even yourself) opens this in a year and wants to quickly understand the task and scope.

[2022-09-22 12:00] #188 closed

[2022-09-22 13:52] casperdcl opened #327 "guide: DVCLive reports"
Effectively combine:

- [`dvclive.Live(report="md")`](https://dvc.org/doc/dvclive/api-reference/live#parameters)
- [`cml comment create --watch --publish dvclive/report.md &`](https://cml.dev/doc/ref/comment#--watch)
  + or maybe `cml comment update --pr --watch --publish dvclive/report.md &`

[2022-09-25 11:26] mehadi92 opened #386 "Do we need different credential for creating runner and access GCS"

[2022-09-26 18:54] casperdcl opened #330 "replace all sklearn -> scikit-learn"
Quite a few instances in https://github.com/search?l=Text&q=org%3Aiterative+sklearn&type=Code

See e.g. https://github.com/iterative/example_cml/pull/256, https://github.com/iterative/cml_dvc_case/pull/23

[2022-09-26 19:39] casperdcl opened #331 "examples: add --pr"
- [ ] https://github.com/iterative/cml_base_case/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+label%3Aexample
- [ ] https://github.com/iterative/cml_dvc_case/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+label%3Aexample
- [ ] https://github.com/iterative/cml_cloud_case/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+label%3Aexample
- [ ] https://github.com/iterative/cml-runner-base-case/pulls?q=is%

[2022-09-27 13:28] tasdomas commented on #330
Is there really a supply chain issue here? `sklearn` is a dummy package that specifies `scikit-learn` as its only dependency. Sure, it's just a workaround for the import and package name mismatch in `scikit-learn`, but apart from the additional `sklearn==0.0` line in the output of `pip freeze` there's no significant issue.

[2022-09-27 14:30] dacbd commented on #330
shot in the dark, but there have been a few issues of users asking for support on discord that has stemmed from pip install issues and sk[scikit-]learn versions, so if this is related to that :+1:

[2022-09-27 16:17] casperdcl opened #332 "fix gitlab docs"
https://docs.gitlab.com/ee/ci/yaml/#needs has to be an array not a string

[2022-09-28 05:03] jorgeorpinel commented on #327
Hi. Any idea on where exactly this should be covered based on the existing cml.dev/doc structure? Or on an ideal structure if that's not sufficient? Thanks

[2022-09-28 05:15] jorgeorpinel commented on #331
Looks like the first check box is duplicated. Also (unrelated), do the **cml_base_case** and **cml_cloud_case** repos need the `example` topic?

[2022-09-28 05:18] jorgeorpinel commented on #331
So is the context here the following? Just wanted to clarify this ticket, thanks.

[2022-09-29 18:44] jorgeorpinel commented on #207
Out of curiosity, what makes this p1? Perhaps there are there lots of support cases that could be avoided by or redirected to this? Thanks

[2022-10-03 11:36] casperdcl commented on #330
yes, we should fix it since it looks like the dummy package doesn't always install properly

[2022-10-03 11:42] casperdcl commented on #327
was thinking either in a separate page below (or section within) [CML with DVC](https://github.com/iterative/cml.dev/blob/f5da17335ed58dac9e5aeab2447bc9c249b17a45/content/docs/sidebar.json#L28-L31)

[2022-10-03 12:08] casperdcl commented on #207
lots of support requests over YEARS; super overdue.

[2022-10-04 18:25] Onyelaudochukwuka opened #334 "Animate Page Elements"
I'll love to add a few animations using framer-motion or a similar framework to make the site a little more aesthetic.

[2022-10-04 23:22] casperdcl opened #335 "tab not working"
e.g. go to "[Allocating Cloud Compute Resources with CML](https://cml.dev/doc/self-hosted-runners#allocating-cloud-compute-resources-with-cml)", click `GitLab`, then scroll down to "Environment Variables" -- which will be stuck on `GitHub` still

/CC @iterative/websites

[2022-10-10 11:50] tasdomas opened #385 "dvc exp run: fails when used with github actions and CML docker container"
## Description
`dvc get` fails in one of our [example repos](https://github.com/iterative/stale-model-example) with the error response:
[code]

None of the directories in that path are symlinks.

Running the `dvc get` command interactively (in an ssh session via [action-tmate](https://github.com/mxschmitt/action-tmate) results in success - the action completes without error.

Running with the `-vv

[2022-10-10 14:36] jorgeorpinel commented on #327
I think a section in there could work. And/or an example in https://cml.dev/doc/ref/comment

[2022-10-10 15:22] jorgeorpinel commented on #250
Meaning site home page? https://cml.dev/
Or docs home page? https://cml.dev/doc

TBH I'd make a separate issue just about this since it may require a pretty solid effort and not really "documentation" (in the case of / )

[2022-10-10 15:32] jorgeorpinel commented on #250
Read that issue but couldn't easily understand why this is such a high priority. Some more context/ motivation here or there? 🙂

All boxes are checked. Should the parent be checked or do we want to come up with more?

Are we considering partial automation or a check for this? As discussed in https://github.com/iterative/mlem.ai/issues/171.

[2022-10-10 15:54] jorgeorpinel commented on #250
Does this refer to the whole structure of docs in general? I'd separate this into it's own ticket it so.
Have you considered making a User Guide section and move existing pages in there, organized into these sections?

Also, how does that map to the "2 major use cases: runner & report" (desired for the landing page) ? Thanks

Minor, but maybe make a separate ticket too? This one in its current for

[2022-10-10 16:24] jorgeorpinel opened #338 "installation: unclear + bugs"
CML "installation" is somewhat confusing, esp. to first-time users, I believe.

1. First, the Install element of the top website menu has some issues:

- It opens on hover but closes on click. Should at least have a little triangle (like Other Tools) to make it more intuitive because I immediately want to click on it (like Docs or Blog), which just closes it -- this may happen so fast you don't ev

[2022-10-12 04:09] jorgeorpinel commented on #335
Interesting. I see tab groups as independent so it's unclear that they should all change when you change one. Maybe we need a new prop in there such as `group="GH"` or something to link them together.

The funny behavior now has to do with the permalink though, because if you load the page with `?tab=Bitbucket` it will change all of the tab groups to that tab, not just the one you were looking at.

[2022-10-12 04:11] jorgeorpinel commented on #335
I don't think tab sync was ever a feature so should we consider this a feature request? I can second it. We may also want to move to the engine repo.

[2022-10-12 13:14] julieg18 commented on #335
Definitely was a feature at one point! I remember building it :)

Makes sense for it to be in `gatsby-theme-iterative` since all the code for the tabs is in the theme!

[2022-10-17 14:47] dacbd opened #343 "provide example for cml runner with k8s"
https://github.com/iterative/cml/issues/895#issuecomment-1043023063

[2022-10-19 12:10] casperdcl opened #346 "redirects-list.json broken"
Probably due to #325.

Also shows up in [failing link-checks since 2022-10-17 (`cml.dev/chat 404`)](https://github.com/iterative/cml.dev/actions/runs/3269706795)

[2022-10-19 12:27] yathomasi commented on #346
It's actually not broken, the 404 page is loading first before being redirected. It should be redirected upon request from the server itself. I hope #347 will fix the problem.

[2022-10-19 13:29] #346 closed

[2022-10-19 14:33] casperdcl opened #349 "add Bitbucket to home page"
https://cml.dev/ "CML Use Cases" only has GH & GL (missing BB) runners.

- [ ] add Bitbucket tab to https://github.com/iterative/cml.dev/blob/master/src/components/pages/Home/UseCasesSection/index.tsx
  + [ ] sort out demo repos https://github.com/iterative/cml-examples-dev/issues/9
    + [x] basic demo repo (https://bitbucket.org/iterative-ai/cml-base-case, also used in https://cml.dev/doc/usage?

[2022-10-19 22:39] jorgeorpinel commented on #250
U: Similar to this: https://github.com/iterative/dvc.org/pull/4011

Thought about this: 2 of them map directly. But what about "CI/Git helpers (`ci`, `pr`)"? Why are they not worthy of home page mention?

_Also want to note that what we mean here by "use case" is not the same as the Use Cases we have in other sites, e.g. [CI/CD for ML](https://dvc.org/doc/use-cases/ci-cd-for-machine-learning) -- w

[2022-10-19 22:48] jorgeorpinel opened #350 "cases: CI/CD for ML"
_Originally posted in https://github.com/iterative/cml.dev/issues/250#issuecomment-1284644992_

I think that https://dvc.org/doc/use-cases/ci-cd-for-machine-learning belongs in this website more than in DVC.

The question is do we want to only have one UC here? Not sure it would be worth its own section of the docs. It could also be linked directly from the home page instead (use cases like that o

[2022-10-20 03:08] jorgeorpinel commented on #349
Just a couple relatively off-topic notes wrt terminology (sorry, it may be annoying but I think we also want to make sure we're talking the same language):

- I call cml.dev/ the _home page_. To me [landing pages](https://mailchimp.com/marketing-glossary/landing-pages/) are other pages intended to capture new traffic for the site (e.g. use case pages in dvc.org/doc, which brings me to...)

- The "

[2022-10-21 01:41] casperdcl opened #351 "doc/usage: tabs not rendering"
https://cml.dev/doc/usage not working:

current | expected
---|---
[![image](https://user-images.githubusercontent.com/10780059/197090993-922da4dd-e467-4d71-a23c-6c3f7eaeb29b.png)](https://cml.dev/doc/usage)|[![image](https://user-images.githubusercontent.com/10780059/197091063-c445f173-363e-49d1-bdf7-3e2a83760717.png)](https://cml.dev/doc/self-hosted-runners#allocating-cloud-compute-resources-wit

[2022-10-21 08:47] casperdcl commented on #349
hmm, levels to me:

- highest-level: features (currently should be on "home" pages but often neglected)
- high-level: scenarios/problems
- mid-level: use cases
- low-level: user guide
- lowest-level: cmd ref

worth discussing, wonder if worth cross-posting somewhere else (*cough* https://github.com/iterative/dvc.org/issues/144)

[2022-10-21 20:04] jorgeorpinel commented on #349
That's what I mean by use case. Happy to change our official terminology if we can get more people to agree.

Yes there's also the more technical use of the term "use case" (as in [UML diagrams](https://en.wikipedia.org/wiki/Use_case_diagram)), if that's what you're thinking.

[2022-10-21 20:05] jorgeorpinel commented on #349
https://www.notion.so/iterative/Framework-7e86e484e50e42529df3dbfe32b4e987#cc1d6d4ea1c2408d9892d7954aa98b12 🙂 (not a great place for discussions though).

[2022-10-24 23:22] casperdcl commented on #250
- user guide: IMO not required on cml.dev/doc because not enough content atm
- use cases: I think there are 2 types of "use cases" - ones with concrete 1:1 mapping to implementation (i.e. proposed use-case pages about `report` and `runner`) and ones without such clear 1:1 mapping (#350). I have no strong opinions on what to call these two types, nor where to put them

[2022-10-29 01:44] 0x2b3bfa0 commented on #349
Worth mentioning https://github.com/iterative/cml-examples-dev

[2022-10-30 11:15] DavidGOrtega commented on #349
Indeed I have a question. Do I have to create the repos? It's not that repo generating that for us? @0x2b3bfa0

[2022-10-30 23:56] 0x2b3bfa0 commented on #349
No, you don't have to do anything. The [cml-examples-dev](https://github.com/iterative/cml-examples-dev) generator is in charge of both creating and provisioning the repositories.

[2022-11-01 18:24] DavidGOrtega commented on #349
Ok so according to this I should just make a PR a slightly alter the yaml in BB

[2022-11-01 18:42] 0x2b3bfa0 commented on #349
Yes, please open pull requests with whatever changes you want and grab the repository links from the table in the README.

[2022-11-03 16:09] DavidGOrtega opened #367 "Bitbucket GPU case review"
Right now we are just only advertising that GPU is not supported.
@0x2b3bfa0 suggested to remove the case or display a big not supported.

I prefer to show the same case warning that the GPU is not supported. At some point BB would fix it and we would just only remove the warning

[2022-11-04 22:57] casperdcl commented on #349
@0x2b3bfa0 are you going to push https://bitbucket.com/iterative-test to https://bitbucket.com/iterative-ai? Specifically these:

- https://bitbucket.org/iterative-test/cml-example-dvc
- https://bitbucket.org/iterative-test/cml-example-tensorboard

(currently blocking #362)

[2022-11-05 00:59] casperdcl commented on #367
would prefer a TPI GPU BB demo /CC @dacbd (as per https://github.com/iterative/cml.dev/pull/362#discussion_r1014527509)

[2022-11-05 09:40] 0x2b3bfa0 commented on #349
Do I have the choice? 😂

[2022-11-09 10:07] #349 closed

[2022-11-09 10:09] 0x2b3bfa0 commented on #367
As per https://github.com/iterative/cml.dev/pull/362#discussion_r1016044837, @dacbd is preparing https://github.com/iterative/cml-examples-dev/pull/24 in the meantime.

[2022-11-14 20:40] casperdcl commented on #196
useful mentioned by @mjasion: https://mermaid-js.github.io/mermaid/#/gitgraph

[code]

[code]

[2022-11-15 06:57] LisaZeller opened #377 "Link results in 404 page not found"
In the gitlab.md last chapter 'Final Solution' the provided link [iterative.ai/cml-base-case](https://gitlab.com/iterative.ai/cml-base-case) does not work.

Also the link in the first chapter 'Get Started with CML on GitLab' [example project repository](https://gitlab.com/iterative.ai/example_cml) is not working.

Is there no more sample project on Gitlab?

[2022-11-15 19:57] jorgeorpinel commented on #377
@LisaZeller thanks for the report. Would it be possible to link to the pages where you see the broken links for now?

Cc @0x2b3bfa0

[2022-11-16 00:22] 0x2b3bfa0 commented on #377
@0x2b3bfa0's blunder, fixed with https://github.com/iterative/cml-examples-dev/commit/0af9bf020d0ab3eb285a3359e0137fb4d1586e4b too late, will be solved as soon as an administrator addresses [p1668558046997539](https://iterativeai.slack.com/archives/C01R00PPQ1L/p1668558046997539).

[2022-11-16 00:23] 0x2b3bfa0 commented on #377
@LisaZeller, sorry for the inconvenience. In the meantime you can use https://gitlab.com/iterative-test/cml-example-minimal instead of https://gitlab.com/iterative.ai/cml-base-case.

[2022-11-16 00:36] 0x2b3bfa0 commented on #377
Solved with [3427766853](https://github.com/iterative/cml-examples-dev/actions/runs/3427766853)

[2022-11-16 00:36] #377 closed

[2022-11-16 18:29] casperdcl opened #379 "guide: Bitbucket tab for CML with DVC"
Bitbucket tab in https://github.com/iterative/cml.dev/blob/master/content/docs/cml-with-dvc.md.

(mostly copy content from https://cml.dev/#use-cases -> `Bitbucket` -> `DVC`)

[2022-11-16 22:20] jendefig commented on #196
Question: what is happening in this part of the picture? why does `checkout main` pop up into that middle section between develop and main?  When I checkout out to main, I'm not really on main, but in some kind of limbo?  I'm not having an opinion on anything here. Just trying to legitimately understand.  Been studying Pro Git. 😊 I was thinking when I checkout to main that I actually go back to ma

[2022-11-16 23:03] jorgeorpinel commented on #196
Where are you seeing that figure, @jendefig ?

`checkout` only moves you to some branch, so to speak, to act on it. It doesn't cause any change to the graph.

[2022-11-16 23:12] jendefig commented on #196
In what @casperdcl put above from Mermaid. Do you see how it shows the line in the middle space?  I thought that if I checkout I'm essentially jumping from one to the other.  Is that right or wrong?

[2022-11-17 01:59] jorgeorpinel commented on #196
Ah right (weird, the hashes seemed to change, anyhow...).

It's just how the graph is rendered (2nd merge). There are no commits in that line i.e. it's not another branch.

You could say so. In reality the latest commit of the checked out branch is restored into your working tree (what you see in the repo directory). See https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging

[2022-11-18 03:45] jorgeorpinel commented on #316
Removing labels that https://github.com/iterative/cml.dev/pull/324 seems to have taken care of.

[2022-11-18 19:09] jorgeorpinel commented on #394
Would this be an update to the Get Started, or are we thinking about another longer tutorial? And in the latter case, should it be blog posts instead?

[2022-11-18 19:11] jorgeorpinel commented on #394
Or I guess it could be 2 "guides" i.e. update to [CML with DVC](https://cml.dev/doc/start) and a new [CML with Tensorboard] one.

[2022-11-18 19:56] jendefig commented on #196
Thanks for this @casperdcl!  This is how I was understanding how everything lined up. So is the blue line extending back to the develop branch because the merge occurred from the main branch.  But if the merge occurred off the develop branch it would be yellow/chartreuse? Testing....

[code]

[2022-11-18 20:00] jendefig commented on #196
Ok.  I get it now.  You are jumping when you checkout.  The in-between lines are representing where the merge is coming from.  Git is like being in a Christopher Nolan movie. 💡

[2022-11-23 22:09] casperdcl commented on #196
indeed. Some non-obvious things:

- line colours don't really have much meaning, especially colours of vertical lines between branches (corresponding to `checkout`/`merge`)
- implicit [arrow of time](https://en.wikipedia.org/wiki/Arrow_of_time) points from left to right (a concept literally used in [quantum physics](https://en.wikipedia.org/wiki/Feynman_diagram))
- a commit can exist on multiple b

[2022-11-25 11:34] casperdcl opened #400 "GH: permissions"
Current https://cml.dev/doc/self-hosted-runners?tab=GitHub#personal-access-token only covers "[classic](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token#creating-a-personal-access-token-classic)" tokens.

Missing:

- [ ] [creating fine-grained tokens](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creati

[2022-11-25 20:48] jorgeorpinel opened #401 "docs: remove "CML" from titles"
Because ` | CML · Continuous Machine Learning` is already auto-suffixed to all pages

- /doc = Documentation
- /doc/start/github = Get Started on GitHub
- /usage = Usage
- etc.

_Originally posted by @casperdcl in https://github.com/iterative/cml.dev/pull/382#discussion_r1031865273_

[2022-11-25 20:54] jorgeorpinel commented on #401
Just keep in mind that in terms of SEO, Google sometimes decides to make up it's own page title e.g.

<img width="766" alt="image" src="https://user-images.githubusercontent.com/1477535/204054391-147a314f-742b-451e-b3cb-57c39c68f52b.png">

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/1477535/204054421-b8d314af-b680-4ffb-b641-fca138f80970.png">

[2022-11-28 17:59] jendefig commented on #196
Re: Color

I think it might be nice to have a generally agreed upon color for the main branch, but that's out of our control.

So the merge commit parents are the main and dev branches and the commit will appear in both, is that right?

ARGH x 2

When you say "a label," just confirming you are using the term in a general sense, not at all referring to labels in GH, right?  The label is the branch

[2022-11-28 21:10] casperdcl opened #404 "installing CML"
[code]

[code]

[code]

[2022-11-29 01:09] casperdcl commented on #196
Yes, in this case I mean "a label" in the general sense, as in "a human-readable name/alias for a `commit` hash". Git `branch`es and Git `tag`s are just aliases.

In fact a `tag` is identical a `branch`. We just (usually) assume `tag`s are not meant to be moved/updated (use case: version numbers, tag `v1.0.3` always refers to one commit) but `branch`es are meant to be moved/updated (branch `main`

[2022-11-29 14:34] casperdcl commented on #367
Fixed by https://github.com/iterative/cml-examples-dev/pull/24; follow-ups tracked in #349

[2022-11-29 14:34] #367 closed